<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soflyit.system.mapper.SysPasswordMapper">

    <resultMap type="SysPassword" id="SysPasswordResult">
        <result property="id" column="id"/>
        <result property="singleLogin" column="single_login"/>
        <result property="kickType" column="kick_type"/>
        <result property="strengthLimit" column="strength_limit"/>
        <result property="needLength" column="need_length"/>
        <result property="minLength" column="min_length"/>
        <result property="needDigit" column="need_digit"/>
        <result property="needLowerCase" column="need_lower_case"/>
        <result property="needUpperCase" column="need_upper_case"/>
        <result property="needSpecialCharacter" column="need_special_character"/>
        <result property="notUserName" column="not_user_name"/>
        <result property="forceChange" column="force_change"/>
        <result property="limitFailedCount" column="limit_failed_count"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysPasswordVo">
        select id, single_login, kick_type, strength_limit, need_length, min_length, need_digit, need_lower_case, need_upper_case, need_special_character, not_user_name, force_change, limit_failed_count, create_by, create_time, update_by, update_time, remark from sys_password
    </sql>

    <select id="selectSysPasswordList" parameterType="SysPassword" resultMap="SysPasswordResult">
        <include refid="selectSysPasswordVo"/>
        <where>
            <if test="singleLogin != null "> and single_login = #{singleLogin}</if>
            <if test="kickType != null "> and kick_type = #{kickType}</if>
            <if test="strengthLimit != null "> and strength_limit = #{strengthLimit}</if>
            <if test="needLength != null "> and need_length = #{needLength}</if>
            <if test="minLength != null "> and min_length = #{minLength}</if>
            <if test="needDigit != null "> and need_digit = #{needDigit}</if>
            <if test="needLowerCase != null "> and need_lower_case = #{needLowerCase}</if>
            <if test="needUpperCase != null "> and need_upper_case = #{needUpperCase}</if>
            <if test="needSpecialCharacter != null "> and need_special_character = #{needSpecialCharacter}</if>
            <if test="notUserName != null "> and not_user_name like concat('%', #{notUserName}, '%')</if>
            <if test="forceChange != null "> and force_change = #{forceChange}</if>
            <if test="limitFailedCount != null "> and limit_failed_count = #{limitFailedCount}</if>
        </where>
    </select>

    <select id="selectSysPasswordById" parameterType="Long" resultMap="SysPasswordResult">
        <include refid="selectSysPasswordVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysPassword" parameterType="SysPassword" useGeneratedKeys="true" keyProperty="id">
        insert into sys_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="singleLogin != null">single_login,</if>
            <if test="kickType != null">kick_type,</if>
            <if test="strengthLimit != null">strength_limit,</if>
            <if test="needLength != null">need_length,</if>
            <if test="minLength != null">min_length,</if>
            <if test="needDigit != null">need_digit,</if>
            <if test="needLowerCase != null">need_lower_case,</if>
            <if test="needUpperCase != null">need_upper_case,</if>
            <if test="needSpecialCharacter != null">need_special_character,</if>
            <if test="notUserName != null">not_user_name,</if>
            <if test="forceChange != null">force_change,</if>
            <if test="limitFailedCount != null">limit_failed_count,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="singleLogin != null">#{singleLogin},</if>
            <if test="kickType != null">#{kickType},</if>
            <if test="strengthLimit != null">#{strengthLimit},</if>
            <if test="needLength != null">#{needLength},</if>
            <if test="minLength != null">#{minLength},</if>
            <if test="needDigit != null">#{needDigit},</if>
            <if test="needLowerCase != null">#{needLowerCase},</if>
            <if test="needUpperCase != null">#{needUpperCase},</if>
            <if test="needSpecialCharacter != null">#{needSpecialCharacter},</if>
            <if test="notUserName != null">#{notUserName},</if>
            <if test="forceChange != null">#{forceChange},</if>
            <if test="limitFailedCount != null">#{limitFailedCount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysPassword" parameterType="SysPassword">
        update sys_password
        <trim prefix="SET" suffixOverrides=",">
            <if test="singleLogin != null">single_login = #{singleLogin},</if>
            <if test="kickType != null">kick_type = #{kickType},</if>
            <if test="strengthLimit != null">strength_limit = #{strengthLimit},</if>
            <if test="needLength != null">need_length = #{needLength},</if>
            <if test="minLength != null">min_length = #{minLength},</if>
            <if test="needDigit != null">need_digit = #{needDigit},</if>
            <if test="needLowerCase != null">need_lower_case = #{needLowerCase},</if>
            <if test="needUpperCase != null">need_upper_case = #{needUpperCase},</if>
            <if test="needSpecialCharacter != null">need_special_character = #{needSpecialCharacter},</if>
            <if test="notUserName != null">not_user_name = #{notUserName},</if>
            <if test="forceChange != null">force_change = #{forceChange},</if>
            <if test="limitFailedCount != null">limit_failed_count = #{limitFailedCount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysPasswordById" parameterType="Long">
        delete from sys_password where id = #{id}
    </delete>

    <delete id="deleteSysPasswordByIds" parameterType="String">
        delete from sys_password where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
