<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soflyit.chattask.im.system.mapper.ChatUserStatusMapper">

    <resultMap type="ChatUserStatus" id="ChatUserStatusResult">
        <result property="id" column="id"/>
        <result property="workStatus" column="work_status"/>
        <result property="dndFlag" column="dnd_flag"/>
        <result property="dndEndTime" column="dnd_end_time"/>
        <result property="remark" column="remark"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="revision" column="REVISION"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <sql id="selectChatUserStatusVo">
        select id, work_status, dnd_flag, dnd_end_time, remark, TENANT_ID, REVISION, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME from chat_user_status
    </sql>

    <select id="selectChatUserStatusList" parameterType="ChatUserStatus" resultMap="ChatUserStatusResult">
        <include refid="selectChatUserStatusVo"/>
        <where>
            <if test="workStatus != null  and workStatus != ''"> and work_status = #{workStatus}</if>
            <if test="dndFlag != null "> and dnd_flag = #{dndFlag}</if>
            <if test="dndEndTime != null "> and dnd_end_time = #{dndEndTime}</if>
            <if test="tenantId != null "> and TENANT_ID = #{tenantId}</if>
            <if test="revision != null "> and REVISION = #{revision}</if>
            <if test="createBy != null "> and CREATE_BY = #{createBy}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="updateBy != null "> and UPDATE_BY = #{updateBy}</if>
            <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
        </where>
    </select>

    <select id="selectChatUserStatusById" parameterType="Long" resultMap="ChatUserStatusResult">
        <include refid="selectChatUserStatusVo"/>
        where id = #{id}
    </select>

    <insert id="insertChatUserStatus" parameterType="ChatUserStatus">
        insert into chat_user_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="workStatus != null and workStatus != ''">work_status,</if>
            <if test="dndFlag != null">dnd_flag,</if>
            <if test="dndEndTime != null">dnd_end_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="tenantId != null">TENANT_ID,</if>
            <if test="revision != null">REVISION,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="workStatus != null and workStatus != ''">#{workStatus},</if>
            <if test="dndFlag != null">#{dndFlag},</if>
            <if test="dndEndTime != null">#{dndEndTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateChatUserStatus" parameterType="ChatUserStatus">
        update chat_user_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="workStatus != null and workStatus != ''">work_status = #{workStatus},</if>
            <if test="dndFlag != null">dnd_flag = #{dndFlag},</if>
            <if test="dndEndTime != null">dnd_end_time = #{dndEndTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="tenantId != null">TENANT_ID = #{tenantId},</if>
            <if test="revision != null">REVISION = #{revision},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChatUserStatusById" parameterType="Long">
        delete from chat_user_status where id = #{id}
    </delete>

    <delete id="deleteChatUserStatusByIds" parameterType="String">
        delete from chat_user_status where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
